.neubutton {
    background-color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 2px 2px 5px #ebebeb,
    -2px -2px 5px #ebebeb;
    border-radius: 50px;
    border-color: transparent;
    transition: all 0.2s ease-in;
}
.neubutton:hover {
    background-color: chartreuse
}
.neubutton:active {
    background-color: green;
}

.title {
    font-size: 50px;
    margin-left: 10px;
    font-family: "Roboto", sans-serif;
}

.overridehover:hover {
    background-color: orangered !important;
}
.overridehover:active {
    background-color: orangered !important;
}